.heroSection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.heroSection #btn_inscricao{
    width: 150px;
    height: 40px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.heroSection #btn_inscricao:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
}